<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body>
  <% @names.each do |name| %>
    <a href=<%= "instruments/#{name.snakecase}"%>><%= name %> </a></br>
  <% end %>
</body>
</html>
