<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Instrument</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="/jsoneditor.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2 col-md-2"></div>

                <div class="col-xs-6 col-md-4">

                    <h1><%= params[:instrument].briefcase %></h1>

                    <div id='editor_holder'></div>
                    <button id='submit'>Submit (console.log)</button>

                    <script>
                        JSONEditor.defaults.options.theme = 'bootstrap3';
                        var jsoneditor = new JSONEditor(document.getElementById('editor_holder'), <%= @instrument %>);

                        // Hook up the submit button to log to the console
                        document.getElementById('submit').addEventListener('click', function () {
                            // Get the value from the editor
                            console.log(jsoneditor.getValue());
                        });
                    </script>
                </div>

                <div class="col-xs-6 col-md-4 setvalue">  <br><br><br><br><br><br>
                  <form action="/submit" id="form">
                    <div class="form-group">
                      <textarea id='output' name="output" class='form-control' rows="30" form="form"></textarea>
                      <input type="submit">
                    </div>
                  </form>
                </div>

            </div>
        </div>
    </body>
    <script>
    jsoneditor.on('change',function() {
        var json = jsoneditor.getValue();
        $output.value = JSON.stringify(json,null,2);
    });
    var $output = document.getElementById('output');

    $output.value = '';

    </script>
</html>
